.footer-wrap {
    @include row;

    clear: both;

    @include media($screen-sm) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }


    @include media($screen-md) {
        justify-content: space-between;
    }
}

.section--footer-copy {
    width: 100%;
    display: block;
    text-align: center;
    clear: both;
    color: map-get($cream, darkest);

    a {
        color: map-get($cream, darkest);
    }
}

.section--footer-buttons {
    a {
        display: inline-block;

        @include media($screen-sm) {
            display: block;
        }


        &:first-of-type {
            margin-bottom: .5em;
        }

        max-width: 160px;
        margin: 0.8em auto;
    }

    @include media($screen-sm) {
        @include span-columns(3 of 12);

        // @include omega;
    }


    @include media($screen-md) {
        @include span-columns(2 of 12);

        // @include omega;
    }
}

.section--footer-address {
    text-align: center;

    @include media($screen-sm) {
        text-align: inherit;

        @include span-columns(4 of 12);

        // @include omega;
    }


    @include media($screen-md) {
        @include span-columns(2 of 12);

        // @include omega;
    }
}

.section--footer-hours {
    margin: 0 auto;
    max-width: 370px;

    @include media($screen-sm) {
        @include span-columns(4 of 12);

        margin: 0;
    }


    @include media($screen-md) {
        @include span-columns(3.5 of 12);

        // @include omega;
    }
}

.section--footer-contact {
    @include media($screen-sm) {
        @include span-columns(6 of 12);

        // @include omega;
    }


    @include media($screen-md) {
        @include span-columns(3 of 12);

        // @include omega;
    }


    form {
        position: relative;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 55%;

        @include media($screen-sm) {
            width: 65%;
        }


        font-family: inherit;
        font-size: inherit;
        font-weight: 100;
        color: inherit;
        padding: 0.4em 0.6em;
        border: 0;
        float: left;

        &::-webkit-input-placeholder {
            color: map-get($black, main) !important;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: map-get($black, main) !important;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: map-get($black, main) !important;
        }

        &:-ms-input-placeholder {
            color: map-get($black, main) !important;
        }
    }

    .pipe {
        position: absolute;
        transform: translateY(20%);
    }

    [type="submit"] {
        width: 45%;

        @include media($screen-sm) {
            width: 35%;
        }


        appearance: none;
        background-color: white;
        border: none;

        &:before {
            content: '';
            display: inline-block;
            float: left;
            width: 1px;
            height: 100%;
        }
    }

    a {
        display: inherit;

        i {
            width: 1.3em;
            height: 1.3em;
            display: inline-block;
            background-position: center;
            background-size: contain;
        }
    }

    .contact--line-one {
        display: flex;
        align-items: center;
        padding: 1em 0;
        justify-content: space-between;
    }
}

.footer--connected {
    width: 70%;
    text-align: right;
}

.section--footer-contact, .section--footer-hours {
    @include media($max-md) {
        max-width: 280px;
        margin: 0 auto;
    }
}

.mob-block {
    @include media($max-md) {
        display: block;
    }
}