footer {
    @include row;

    clear: both;

    section {
        @include media($screen-sm) {
            @include span-columns(3 of 12);
        }
    }
    .section--footer-copy{
    	width: 100%;
    	display: block;
    	text-align: center;
    	clear: both;
    }
}