header {
    align-items: center;

    &.bg--image {
        padding-bottom: 20em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.home {
        @include media($screen-md) {
            position: absolute;
            width: 100%;
            background-color: transparent;
        }
    }
}

.hdr-logo-link {
    width: 60%;

    @include media($screen-sm) {
        width: 30%;
    }


    height: 1.5em;
    display: inline-block;
    background-position: left center;

    @include media($screen-md) {
        width: 18%;
    }


    @include media($screen-lg) {
        width: 20%;
    }
}

.icon-logo {
    svg {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}