nav {
    // Hidden, will slide in when you add ".open"
    width: 75%;
    
    z-index: 99;
    justify-content: space-between;

    // specific for mobile (needs to be overwritten)

    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -130vw;
    align-items: center;
    padding-top: 6em;
    background-color: map-get($black, main);

    // opened up
    &.open {
        max-width: 510px;
        transition: right .3s ease-in-out;
        right: 0;
        box-shadow: -10px 0px 40px transparentize(map-get($black, main), 0.6);
    }

    li {
        list-style-type: none;
        text-align: center;

        a {
            letter-spacing: 1.2px;
            font-size: 1rem !important;
        }

        // specific for mobile (needs to be overwritten)
        width: 100%;

        &.button {
            a {
                text-transform: none !important;
            }
        }
    }

    @include media($screen-md) {
        &.not-home {
            position: relative;
            flex-direction: row !important;
            padding-top: 0;
            right: 0;
            background-color: transparent;

            li {
                align-self: center;
                width: auto;

                @include media(max-width $screen-md-max) {
                    a {
                        font-size: .9rem !important;
                    }
                }


                &.button {
                    padding: .3em 1em;
                }
            }
        }
    }


    @include media(max-width $screen-sm-max) {
        li {
            &.button {
                padding: 2em;
            }
        }
    }
}