article.post-type-page {
    @include media($screen-xs) {
        // @include shift(2 of 12);

        max-width: 750px;

        @include span-columns(8 of 12);
    }


    @include media($screen-md) {
        // margin-top: 4em;
        // margin-bottom: 4em;
        // background-color: white;

        @include shift(0);
        &.no-aside{
            margin-left: 10% !important;
        }
    }

}

aside.post-type-page {
    display: none;
    @include media($screen-md) {
        max-width: 350px;
        display: inherit;

        @include span-columns(3 of 12);
    }
}

.page-template-page-sidebar {
    main {
        display: flex;
        @include media($screen-xs){}
        @include media($screen-sm){}
        @include media($screen-md){
            justify-content: center;
        }
        
    }
}