
$body-font-family:  "sofia-pro",sans-serif;
$heading-font-family: "sofia-pro",sans-serif;
$small-headings: "letter-gothic-std",sans-serif;
$heading-font-weight: 600;

$max-width: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px
);

$base-font-color: map-get($black, main);
$base-font-size: 1rem;
$base-padding: 1em;

$base-border-radius: 8px;

$spacing-unit: 1em;


$max-width: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1640px
);


//
// Media Queries & Breakpoints
// 

// Extra small screen / phone
$screen-xs:                  map-get($max-width, xs) !default;

// Small screen / tablet
$screen-sm:                  map-get($max-width, sm) !default;

// Medium screen / desktop
$screen-md:                  map-get($max-width, md) !default;

// Large screen / wide desktop
$screen-lg:                  map-get($max-width, lg) !default;

// Monster Screen
$screen-xl:                  map-get($max-width, xl) !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

$large-screen:  new-breakpoint(max-width 1200px 12);
$medium-screen: new-breakpoint(max-width  992px 12);
$small-screen:  new-breakpoint(max-width  768px  6);