.block--social-icons {
	display: inline-block;
    a {
        i {
            width: 1.3em;
            height: 1.3em;
            display: inline-block;
            background-position: center;
            background-size: contain;
        }
    }
}