.button {
    padding: 0.4em 1em;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight !important;
    letter-spacing: 1.2px;
    text-decoration: none;

    a {
        // font-weight: 400;
   
    }

    &.center {
        margin: 0 auto;
        display: table;
    }

    &.nav-item, &.home--cta {
        font-family: $small-headings;

        // font-weight: $button-weight;
   
    }

    transition: background-color 0.2s $base-animation;

    &.bg--red {
        &:hover, &:focus {
            transition: background-color 0.2s $base-animation;
            background-color: darken(map-get($red, main), 10%);
        }

        &:active {
            transition: background-color 0.2s $base-animation;
            background-color: darken(map-get($red, main), 15%);
        }
    }

    &.bg--black {
        &:hover, &:focus {
            transition: background-color 0.2s $base-animation;
            background-color: darken(map-get($black, main), 10%);
        }

        &:active {
            transition: background-color 0.2s $base-animation;
            background-color: darken(map-get($black, main), 15%);
        }
    }

    &.bg--cream-dark {
        &:hover, &:focus {
            transition: background-color 0.2s $base-animation;
            background-color: darken(map-get($cream, dark), 10%);
        }

        &:active {
            transition: background-color 0.2s $base-animation;
            background-color: darken(map-get($cream, dark), 15%);
        }
    }
}