.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex--justify-around {
    justify-content: space-around;
}

.flex--justify-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.justify--center {
    justify-content: center;
}

.align--center {
    align-items: center;
}

.content-center {
    align-content: center;
}

.float--right {
    float: right;
}

.float--left {
    float: left;
}

.row {
    @include row;
}

.block {
    display: block;
}

.flex--grid-half {
    width: 100%;
    flex-basis: 100%;
    margin-top: 5%;

    @include media($screen-xs) {}


    @include media($screen-sm) { width: 48%;
        margin-top: 2%;
        flex-basis: 48%;}


    @include media($screen-md) {
       
    }


    @include media($screen-lg) {}


    @include media($screen-xl) {}
}