.button--youtube {
    position: absolute;
    bottom: -6em;
    transition: bottom .2s ease-in-out;
    left: 50%;
    transform: translateX(-50%);

    &.showit {
        transition: bottom .2s ease-in-out;
        bottom: 1em;
    }
}