.section--menus {
    a {
        &:first-of-type {
            flex-basis: 100%;

            @include media($screen-sm) {
                padding: 10em 0;
            }
        }

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        h1 {
            position: relative;
            line-height: 1.1;
        }

        &:hover {
            h1 {}
        }
    }

    .table-wrap {
        height: 0px;
        width: 100%;
        flex-basis:100%;
        overflow: hidden;

        &.open {
            height: auto;
        }

        &:first-of-type {
            flex-basis: 100%;
        }

        table {
            width: 100%;
            tbody {
                tr {
                    td {
                        border: 1px solid;
                        padding: 1em;
                    }
                }
            }
        }
    }
}