.section--footer-contact {
    input {
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        font-weight: 100;
        color: inherit;
        padding: 0.4em 0.6em;
        border: 0;
    }
}