.trigger--nav-mobile {
    height: 20px;
    width: 30px;
    border-bottom: 2px solid white;
    z-index: 999;
    position: relative;
    transition: border-color .1s linear;

    &:before {
        width: 100%;
        border-top: 2px solid white;
        position: relative;
        transform: translateY(-3px);
        content: '';
        display: block;
        transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2), border-color 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2);
    }

    &:after {
        width: 100%;
        border-top: 2px solid white;
        top: 6px;
        position: relative;
        content: '';
        display: block;
        transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2), border-color 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2);
    }

    &.open {
        border-color: white !important;
        position: fixed;
        right: 1em;

        @include media($screen-md) {
            right: 3em;
        }


        border: 0px solid white;
        transition: border .1s linear;

        &:before {
            border-color: white !important;
            transform: translateY(9px) rotate(45deg);
            transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2), border-color 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2);
        }

        &:after {
            border-color: white !important;
            transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2), border-color 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.2);
            transform: rotate(-45deg);
        }
    }

    @include media($screen-md) {
        &.not-home {
            display: none;
        }
    }
}

header {
    &.bg--black {
        .trigger--nav-mobile {
            border-color: white;

            &:before {
                border-color: white;
            }

            &:after {
                border-color: white;
            }
        }
    }

    &.bg--cream, &.bg--transparent {
        .trigger--nav-mobile {
            border-color: map-get($black, main);

            &:before {
                border-color: map-get($black, main);
            }

            &:after {
                border-color: map-get($black, main);
            }
        }
    }
}