.trigger--nav-mobile {
    height: 20px;
    width: 30px;

    // border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 999;
    position: relative;
    transition: border .1s linear;

    &:before {
        width: 100%;
        border-top: 2px solid white;
        position: relative;
        transform: translateY(-3px);
        content: '';
        display: block;
        transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
    }

    &:after {
        width: 100%;
        border-top: 2px solid white;
        top: 6px;
        position: relative;
        content: '';
        display: block;
        transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
    }

    &.open {
        position: fixed;
        right: 1em;

        @include media($screen-md) {
            right: 3em;
        }


        border: 0px solid white;
        transition: border .1s linear;

        &:before {
            transform: translateY(9px) rotate(45deg);
            transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
        }

        &:after {
            transition: transform 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
            transform: rotate(-45deg);
        }
    }

    @include media($screen-md) {
        &.not-home {
            display: none;
        }
    }
}