.trigger--nav-mobile {
    height: 22px;
    width: 30px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 999;
    position: relative;
    transition: transform .2s ease-in-out;

    &:before {
        width: 100%;
        border-top: 2px solid white;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        content: '';
        display: block;
        transition: opacity .2s ease-in-out;
    }

    &.open {
        transform: rotate(45deg);

        &:before {
            opacity: 0;
        }
    }

    @include media($screen-md) {
        &.not-home {
            display: none;
        }
    }
}