<footer id="footer" class="bg--black color--cream-dark letter-one spacing--gutter spacing--vert-5">
	<div class="max-wrap footer-wrap">
		{% include 'components/sections/section--footer-buttons.twig' %}
		{% include 'components/sections/section--footer-address.twig' %}
		{% include 'components/sections/section--footer-hours.twig' %}
		{% include 'components/sections/section--footer-contact.twig' %}
		<div class="section--footer-copy block text--uppercase font--smaller spacing--top-3">{{footer.footer_bottom}}</div>
	</div>
</footer>
{{ function('wp_footer') }}
<!-- GOOGLE ANALYTICS -->
	<script type="text/javascript">
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-31306813-1']);
  		_gaq.push(['_setDomainName', 'glenellenstar.com']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + 	'.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
<!-- END GOOGLE ANALYTICS -->