<footer id="footer" class="bg--black color--cream spacing--gutter spacing--vert-3">
	{% include 'components/sections/section--footer-buttons.twig' %}
	{% include 'components/sections/section--footer-address.twig' %}
	{% include 'components/sections/section--footer-hours.twig' %}
	{% include 'components/sections/section--footer-contact.twig' %}
	<br><br><div class="section--footer-copy">Copyright {{"now"|date('Y')}}</div>
</footer>
{{ function('wp_footer') }}