{% extends "base.twig" %}
{% block content %}
<h1>In The Kitchen</h1>
	<h3>Chef + Staff</h3>
	<p>Established in 2012, Glen Ellen Star is a rising culinary establishment in Sonoma County that strives to provide a personable yet refined dining experience for those who love food. Led by Chef Ari Weiswasser and his talented team. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit velit quam, non ullamcorper elit condimentum vel.</p>

	<h3>Ingredients</h3>
	<p>Glen Ellen Star specializes in a wood-fire cooking technique that brings out the best flavors of their California inspired dishes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit velit quam, non ullamcorper elit condimentum vel. Donec cursus facilisis diam, eget ultricies diam porta a. Aenean vel mollis tortor. Vivamus et dui ac velit eleifend congue. Quisque facilisis volutpat enim, et luctus sapien iaculis eget. Vestibulum laoreet lobortis lacus auctor egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
	<a href="">This is a link </a>
{% endblock %}