<section class="section--footer-address spacing--vert-1 spacing--dsk-vert-0">
	<strong class="text--uppercase">{{footer.footer_address_title}}</strong><br>
	<address>
		<a class="text--uppercase color--white clean--link" href="https://www.google.com/maps/place/{{footer.footer_address|replace({' ': '+'})}}">
		{{footer.footer_address}}</a>
	</address>
</section>