<section class="section--footer-contact row spacing--vert-1 color--cream-dark spacing--dsk-vert-0">
	<div class="contact--line-one">
		<a href="{{social.facebook}}" target="_blank" title="Glen Ellen Star on Facebook"><i class="icon-social--facebook"></i></a>
		<a href="https://twitter.com/{{social.twitter}}" target="_blank" title="Glen Ellen Star on Twitter"><i class="icon-social--twitter"></i></a>
		<a href="https://www.instagram.com/{{social.instagram}}" target="_blank" title="Glen Ellen Star on Instagram"><i class="icon-social--instagram"></i></a>
		<strong class="footer--connected text--uppercase font--smaller">Stay Connnected</strong>
	</div>
	{# <strong class="footer--connected text--uppercase font--smaller">Stay Connnected</strong> #}
<br>
<form id="follow-form" class="color--black" method="post" action="http://oi.vresp.com?fid=953b4f93f2" target="vr_optin_popup" onsubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;">
	<input type="text" name="email_address" value="" class="field" placeholder="EMAIL">
	<span class="pipe">|</span>
	<input type="submit" value="SIGN UP">
</form>
</section>