<section class="section--footer-contact row spacing--vert-1 color--cream-dark spacing--dsk-vert-0">
	<div class="contact--line-one">
		<a href="{{social.facebook}}" target="_blank" title="Glen Ellen Star on Facebook"><i class="icon-social--facebook"></i></a>
		<a href="https://twitter.com/{{social.twitter}}" target="_blank" title="Glen Ellen Star on Twitter"><i class="icon-social--twitter"></i></a>
		<a href="https://www.instagram.com/{{social.instagram}}" target="_blank" title="Glen Ellen Star on Instagram"><i class="icon-social--instagram"></i></a>
		<strong class="footer--connected text--uppercase font--smaller">Stay Connnected</strong>
	</div>
	{# <strong class="footer--connected text--uppercase font--smaller">Stay Connnected</strong> #}
<br>
<form action="https://glenellenstar.us19.list-manage.com/subscribe/post?u=d64cc305023063fcfc14fdff9&amp;id=bd69900033" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate color--black" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

 <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL" required>
<span class="pipe">|</span>
 <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="button">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d64cc305023063fcfc14fdff9_bd69900033" tabindex="-1" value=""></div>

    </div>
</form>
</section>