<div class="block--social-icons">
	<a href="{{social.facebook}}" title="Glen Ellen Star on Facebook"><i class="icon-social--facebook"></i></a>
	<a href="https://twitter.com/{{social.twitter}}" title="Glen Ellen Star on Twitter"><i class="icon-social--twitter"></i></a>
	<a href="https://www.instagram.com/{{social.instagram}}" title="Glen Ellen Star on Instagram"><i class="icon-social--instagram"></i></a>
</div>