<strong class="footer--connected text--uppercase font--smaller">Stay Connnected</strong>
<br>
<form id="follow-form" method="post" action="http://oi.vresp.com?fid=953b4f93f2" target="vr_optin_popup" onsubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;">
	<input type="text" name="email_address" value="your email address" class="field" placeholder="EMAIL">
	<input type="image" value="" alt="submit" class="button2">
</form>