main#main-68 {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    video {
        display: none;
    }

    @include media($screen-sm) {
        video {
            display: block;
        }

        background-image: none !important;
        height: 75vh;
        overflow: hidden;

        &.home {
            height: 90vh;
        }
    }
}

.home--title {
    font-weight: 400;
}

.home--cta {
    padding: 0.5em 1em;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
}