main#main-68 {
    height: 75vh;
    overflow: hidden;

    &.home {
        height: 90vh;
    }
}

.home--title {
    font-weight: 400;
}

.home--cta {
    padding: 0.5em 1em;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
}