.page-id-44 {
    main {
        max-width: 1200px;
        margin: 0 auto;

        .menu-trigger {
            position: relative;
            cursor: pointer;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                background-color: transparent;
                transition: background-color .3s ease-in-out;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
            }

            h1 {
                position: relative;
                z-index: 9;
            }

            &:hover {
                &:before {
                    transition: background-color .3s ease-in-out;
                    background-color: transparentize(black, 0.8);
                }
            }
        }
    }
}

.menu--date {
    margin-bottom: 1em;
    margin-top: 1em;
}