.pressLogoWrap {
    height: 120px;

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.page-id-115 {
    .flex--grid-fourth {
        margin-bottom: 1.5em;
    }
}